Title: ATMS Training and Development System
H1: ATMS Training and Development System
Categories: facilities:-1, services/tmc-operator-training
Template: brochure
Summary: A simulation environment with the full functionality of a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about ATMS Training and Development System
Image: /attachments/images/tmcsim1.jpg
Menu Label: ATMSSIM
Menu: ATMSSIM

%section.what
  %h3 What does it consist of?

  :markdown

    * A TMC simulator with a full installation of Caltrans ATMS
      software

    * Simulation-backed traffic management scenarios

    * Connections to real-world data feeds

    * "Live" and "virtual" connections to Caltrans field traffic
      control systems

%section.how
  %h3 How can it be used?
  :markdown

    Test and evaulate enhancements to TMC operations in a secure
    environment that duplicates actual TMC software systems and data
    feeds.

%section.applications
  %h3 Applications
  :markdown

    * Classroom for vendor-based microsimulation courses

    * A platform for ATMS software testing and evaluation that
      incorporates TMC operator processes
