Title: Berkeley Highway Lab
Summary: A test site covering 2 miles of I-80 immediately east of the San Francisco-Oakland Bay Bridge
Categories: facilities:-5
Template: brochure
Menu: BHL
Image: /attachments/images/bhl-highwaycam.jpg
Website: http://bhl.path.berkeley.edu/project
what: >
  ### What is BHL?\n\n
  The Berkeley Highway Laboratory (BHL) is a test site covering 2 miles of I-80
  immediately east of the San Francisco-Oakland Bay Bridge.  Sponsored by
  Caltrans, the facility includes eight cameras, sixteen directional
  dual-inductive-loop-detector stations, and an array of Sensys
  wireless detectors all dedicated to monitoring traffic for research purposes.
how: >
  ### How can it be used\n\n
  Visit the dedicated [BHL website](http\://bhl.path.berkeley.edu/project) for
  more information.

:markdown

  ### Loop Detectors

  The BHL provides event data on individual vehicle actuations, accurate to
  1/60th of a second. The BHL loop detector data collection and processing
  system operates continuously.

  ### Video

  BHL cameras cover about 2 miles of I-80 between Ashby Avenue and Powell
  Street. The on and off ramps at Ashby Avenue and Powell Street are part of the
  coverage area.

