Title: Berkeley Highway Lab
Summary: The Berkeley Highway Laboratory (BHL) is a test site covering 2 miles of I-80 immediately east of the San Francisco-Oakland Bay Bridge
Categories: facilities:-5
Template: brochure
Menu: BHL
Image: bhl-highwaycam.jpg
Website: http://bhl.path.berkeley.edu/project

%h1 Berkeley Highway Lab

The Berkeley Highway Laboratory (BHL) is a test site covering 2 miles
of I-80 immediately east of the San Francisco-Oakland Bay
Bridge. Sponsored by Caltrans, the facility includes eight cameras,
sixteen directional dual-inductive-loop-detector stations sampling at
60Hz, and an array of Sensys wireless detectors all dedicated to
monitoring traffic for research purposes.

%h2 Loop Detectors

The BHL provides event data on individual vehicle actuations, accurate
to 1/60th of a second. The BHL loop detector data collection and
processing system operates continuously.

%h2 Video

BHL cameras cover about 2 miles of I-80 between Ashby Avenue and
Powell Street. The on and off ramps at Ashby Avenue and Powell Street
are part of the coverage area.

