Title: Detector Testbed
H1: Detector Testbed
Categories: facilities:-2
Template: brochure
Summary: A real-world laboratory for the development and evaluation of emerging traffic detection technologies.
Contact: mailto:support@ctmlabs.net&subject=Information about the CTMLabs Detector Testbed
Image: all-cameras-and-detectors.jpg,cameras-mounted-to-bridge-deck.jpg,sand-canyon-cameras-and-loops.jpg,sideview-north-2.jpg
Menu Label: Detector Testbed




%section.what
  %h3 What does it consist of?

  :markdown

    * The latest-generation IST-detector cards installed along both
      the freeway mainline and the adjacent on- and off-ramps.

%section.how
  %h3 How can it be used?
  :markdown

    * Test new sensors
    * Obtain section speeds
    * Evaluate vehicle classification methods
    * Estimate O-D patterns

%section.applications
  %h3 Applications
  :markdown

    * Testing and development of overhead-mounted detectors (laser)

    * Side-mounted detectors (OMRON vision sensor, RTMS radar,
      pan-tilt-zoom webcam, spread spectrum radio)

    * In-pavement detectors (enhanced double loop, high-resolution detector blade)