Title: Detector Testbed
H1: Detector Testbed
Categories: facilities:-2,projects/inductive-signature-performance-evaluation
Template: brochure
Summary: A real-world laboratory for the development and evaluation of emerging traffic detection technologies.
Contact: mailto:support@ctmlabs.net&subject=Information about the CTMLabs Detector Testbed
Image: /attachments/images/all-cameras-and-detectors.jpg,/attachments/images/cameras-mounted-to-bridge-deck.jpg,/attachments/images/sand-canyon-cameras-and-loops.jpg,/attachments/images/sideview-north-2.jpg
Menu Label: Detector Testbed
what: >
  * Testing and development of overhead-mounted detectors (laser)\n
  * Side-mounted detectors (OMRON vision sensor, RTMS radar,
    pan-tilt-zoom webcam, spread spectrum radio)\n
  * In-pavement detectors (enhanced double loop, high-resolution detector blade)
    the freeway mainline and the adjacent on- and off-ramps.
how: >
  * Test new sensors\n
  * Obtain section speeds\n
  * Evaluate vehicle classification methods\n
  * Estimate O-D patterns\n


