Title: Enhanced Simulation Environment
H1: Enhanced Simulation Environment
Categories: facilities:-10
Template: brochure
Summary: A suite of ultra high-speed microsimulation models implemented for numerous California subnetworks
Contact: mailto:support@ctmlabs.net&subject=Information about Enhanced Simulation
Image:  /attachments/images/custom-sim.jpg
Menu Label: Simulation
what: >
  * A distributed, real-time simulation environment with dedicated
    hardware\n
  * Simulation plug-in capabilities for advanced customization\n
  * Modeling of multiple, actuated actuated signal systems\n
  * Ramp metering models including on-ramp queue override, SWARM
    metering\n
  * Detector data aggregation and freeway MOEs\n
how: >
  * Test and evaluate ATMS strategies prior to implementation\n
  * Evaluate candidate policy choices to support decision making\n
  * Support Corridor System Management Plan (CSMP) development\n
applications: >
  * I-880 corridor study\n
  * Joint Caltrans-OCTA Measure M benefit/cost analysis\n
  * Hybrid use of HOV lanes\n
  * OCTA Measure M I-5 study\n




