Title: Facilities
Summary: CTMLabs is a real-world laboratory for conducting real-world operational tests...
Template: page_list

.page-header
  %h1 
    Facilities
    %small new hardware, connectivity, and platforms for research

:markdown

  CTMLabs is a real-world laboratory for conducting real-world
  operational tests.  We maintain a number of facilities that support
  this mission.  These range from deployed hardware and communications
  infrastructure to middleware and data processing to simulation
  environments enabling in-the-loop simulations for hardware.  

