Title: Irvine Arterial Testbed
H1: Irvine Arterial Testbed
Categories: facilities:-4
Template: brochure
Summary: An arterial detection and signal system designed to test and evaluate combined freeway and arterial traffic management strategies
Contact: mailto:support@ctmlabs.net&subject=Information about the Irvine Arterial Testbed
Image: /attachments/images/irvine-arterial-testbed-1.jpg
Menu Label: Arterial Testbed
what: >
  * Latest-generation 2070 controllers installed along Alton Parkway in the City of Irvine\n
  * Direct links to the laboratory\n
how: >
  * Testing and evaluation of corridor real-time management
    major incident management
applications: >
  * [Cartesius] multi-jurisdictional traffic management system\n
  [Cartesius]: http://www.its.uci.edu/~mcnally/triceps/CTNet.html

