Title: Irvine Arterial Testbed
H1: Irvine Arterial Testbed
Categories: facilities:-4
Template: brochure
Summary: An arterial detection and signal system designed to test and evaluate combined freeway and arterial traffic management strategies
Contact: mailto:support@ctmlabs.net&subject=Information about the Irvine Arterial Testbed
Image: irvine-arterial-testbed-1.jpg
Menu Label: Arterial Testbed

%section.what
  %h3 What does it consist of?

  :markdown

    * Latest-generation 2070 controllers installed along Alton Parkway in the City of Irvine
    * Direct links to the laboratory

%section.how
  %h3 How can it be used?
  :markdown

    * Testing and evaluation of corridor real-time management
      major incident management

%section.applications
  %h3 Applications
  :markdown

    * [Cartesius] multi-jurisdictional traffic management system

    [Cartesius]: http://www.its.uci.edu/~mcnally/triceps/CTNet.html
