Title: Mobile TMC
H1: Mobile TMC
Categories: facilities:-3
Template: brochure
Summary: A mobile laboratory equipped with the full functionality of a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about the Mobile TMC
Image: /attachments/images/mobile-tmc-1.jpg
Menu Label: Mobile TMC

%section.what
  %h3 What does it consist of?

  :markdown

    * An instrumented mobile platform that can act as an TMC
      independent of or supplementing a district's primary TMC

    * A portable ramp metering system that can be used to augment
      infrastructure-based systems

    * Capabilities for remote data collection, video surveillance, and
      traffic management functions


%section.how
  %h3 How can it be used?
  :markdown

    * Provide surveillance in construction zones

    * Provide surveillance and ramp metering functions for event and
      major incident management

%section.applications
  %h3 Applications
  :markdown

    * Deployed in Caltrans District 12 to provide remote TMC services as needed
    * Deployed as an asset in combating the [2007 wildfires]

    [2007 wildfires]: http://en.wikipedia.org/wiki/October_2007_California_wildfires
