Title: Mobile TMC
H1: Mobile TMC
Categories: facilities:-3
Template: brochure
Summary: A mobile laboratory equipped with the full functionality of a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about the Mobile TMC
Image: /attachments/images/mobile-tmc-1.jpg
Menu Label: Mobile TMC
what: >
  * An instrumented mobile platform that can act as an TMC
    independent of or supplementing a district's primary TMC\n
  * A portable ramp metering system that can be used to augment
    infrastructure-based systems\n
  * Capabilities for remote data collection, video surveillance, and
    traffic management functions\n
how: >
  ### How can it be used?\n
  * Provide surveillance in construction zones\n
  * Provide surveillance and ramp metering functions for event and
    major incident management\n\n
applications: >
  * Deployed in Caltrans District 12 to provide remote TMC services as needed\n
  * Deployed as an asset in combating the [2007 wildfires]\n
  [2007 wildfires]: http://en.wikipedia.org/wiki/October_2007_California_wildfires\n

