Title: Caltrans Courseware
H1: Caltrans Courseware
Categories: services:-2,services/custom-application-development
Template: brochure
Summary: Teaching UCI students and Caltrans professionals transportation theory and practice
Contact: mailto:support@ctmlabs.net&subject=Information about Caltrans Courseware
Image:  /attachments/images/courseware-1.png
Menu Label: Courseware
Url: http://sinope.its.uci.edu/portal

%section.what
  %h3 What does it consist of?
  :markdown

    * Interactive on-line training using multimedia

    * Complete learning paths from theory to practical application

    * On-line assessment of student performance

%section.how
  %h3 How can it be used?
  :markdown

    * Customize modules to suit your needs

    In a chemistry lab, you can play with test tubes, mix up potions
    and try stuff out. In the California Traffic Management Labs, our
    test tubes are computer codes, and our liquids, compounds, and
    catalysts are traffic data of all kinds. With a CTMLabs account
    and a bit of hard work, you can pull all kinds of data into your
    site and create new ways of analyzing transportation and
    traffic. Alternately, you can try some simple things out, and then
    ask our experienced team to help you prototype your vision using
    our code and our infrastructure.

%section.applications
  %h3 Applications
  :markdown

    * Prepare Caltrans professionals for vendor training

    * Support the development of new standards for Corridor System Management Plans

    * Link UCI students to practical topics
