Title: Caltrans Courseware
H1: Caltrans Courseware
Categories: services:-2,services/custom-application-development
Template: brochure
Summary: Teaching UCI students and Caltrans professionals transportation theory and practice
Contact: mailto:support@ctmlabs.net&subject=Information about Caltrans Courseware
Image:  /attachments/images/courseware-1.png
Menu Label: Courseware
Url: http://sinope.its.uci.edu/portal
what: >
  * Interactive on-line training using multimedia\n
  * Complete learning paths from theory to practical application\n
  * On-line assessment of student performance\n
how: >
  * Prepare Caltrans professionals for vendor training\n
  * Support the development of new standards for Corridor System Management Plans\n
  * Link UCI students to practical topics\n
  * Customize modules to suit your needs\n

