Title: CTMLabs Application Service Layer
H1: CTMLabs Application Service Layer
Categories: services:-5
Template: brochure
Summary: We provide authenticated access to our applications and the data they generated using modern middleware and web standards.
Contact: mailto:support@ctmlabs.net&subject=Information about the CTMLabs application service layer
Menu Label: Service Layer
Menu: Service Layer

%section.what
  %h3 What does it consist of?
  :markdown

    * Application and data APIs made available through modern web standards

%section.how
  %h3 How can it be used?
  :markdown

    * Use our platform to develop your next transportation web application
    * Create mash-ups betwen our applications and your own


%section.applications
  %h3 Applications
  :markdown

    * ...


