Title: Custom Simulation Development
H1: Custom Simulation Development
Categories: services:-4
Template: brochure
Summary: We'll tailor modern simulation packages to meet your analysis needs
Contact: mailto:support@ctmlabs.net&subject=Information about Custom Simulation Development
Image:  /attachments/images/custom-sim.jpg
Menu Label: Simulation

%section.what
  %h3 What does it consist of?
  :markdown

    * Custom API development for various simulation packages
      (Paramics, Transmodeler, etc.)

    * Support advanced modeling such as dynamic traffic assignment

    * Simulation verification and validation for specific model
      applications


%section.how
  %h3 How can it be used?
  :markdown

    We're in the modeling business, so if you have a modeling problem,
    contact us to see if we can help.

%section.applications
  %h3 Applications
  :markdown

    * [Paramics API development and customization](http://www.its.uci.edu/~paramics/APIs.html)
