Title: Custom Application Development 
H1: Custom Application Development 
Categories: services:-1, projects/tmc-performance
Template: brochure
Summary: Leverage CTMLabs datasets and development expertise to create new applications through targeted development
Contact: mailto:support@ctmlabs.net&subject=Information about the Custom Application Development
Image:  CTML_custom_projectss_sm.png
Menu Label: Custom Apps

%section.what
  %h3 Resources and support for solving your problems
  :markdown

    * A laboratory with data, middleware, and development expertise to
      support your project

    * All [datasets](/data) from prior CTMLabs projects are available
      for new mashups

    * CTMLabs staff are ready to support data re-use


%section.how
  %h3 How can it be used?
  :markdown

    In a chemistry lab, you can play with test tubes, mix up potions
    and try stuff out. In the California Traffic Management Labs, our
    test tubes are computer codes, and our liquids, compounds, and
    catalysts are traffic data of all kinds. With a CTMLabs account
    and a bit of hard work, you can pull all kinds of data into your
    site and create new ways of analyzing transportation and
    traffic. Alternately, you can try some simple things out, and then
    ask our experienced team to help you prototype your vision using
    our code and our infrastructure.









