Title: Enhanced Simulation Environment
H1: Enhanced Simulation Environment
Categories: services:-3
Template: brochure
Summary: A suite of ultra high-speed microsimulation models implemented for numerous California subnetworks
Contact: mailto:support@ctmlabs.net&subject=Information about Custom Simulation Development
Image:  custom-sim.jpg
Menu Label: Simulation

%section.what
  %h3 What does it consist of?
  :markdown

    * A distributed, real-time simulation environment with dedicated
      hardware

    * Simulation plug-in capabilities for advanced customization

    * Modeling of multiple, actuated actuated signal systems

    * Ramp metering models including on-ramp queue override, SWARM
      metering

    * Detector data aggregation and freeway MOEs

%section.how
  %h3 How can it be used?
  :markdown

    * Test and evaluate ATMS strategies prior to implementation

    * Evaluate candidate policy choices to support decision making

    * Support Corridor System Management Plan (CSMP) development


%section.applications
  %h3 Applications
  :markdown

    * I-880 corridor study

    * Joint Caltrans-OCTA Measure M benefit/cost analysis

    * Hybrid use of HOV lanes

    *OCTA Measure M I-5 study


