Title: TMC Operator Training
H1: TMC Operator Training
Categories: services:-5, facilities/atms-training-and-devel-system
Template: brochure
Summary: Realistic, simulation-backed training for Caltrans staff to prepare them for the rigors of working in a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about TMC Operator Training
Image:  /attachments/images/tmc-op-train/100_2142-300.jpg, /attachments/images/tmc-op-train/IMG_2207-300.jpg, /attachments/images/tmc-op-train/IMG_2219-300.jpg, /attachments/images/tmc-op-train/IMG_2203-300.jpg, /attachments/images/tmc-op-train/IMG_2214-300.jpg, /attachments/images/tmc-op-train/IMG_2220-300.jpg
Menu Label: TMC Training
what: 
  * Realistic TMC training environment based on a simulation version
    of Caltrans ATMSV2\n
  * Full simulation capabilities including an audio/video system
    that displays the remote sources (CCTV and real-time data
    streams) from the CTMLabs and associated field devices\n
  * Training Control Room from which Caltrans and CHP training
    personnel can activate various training scenarios
how:
  Prepare yourself or train your staff on the latest TMC management
  technology and processes.\n
    * 10+ years of Caltrans TMC operator training\n
    * 5 years using simulation-backed training scenarios\n


