Title: TMC Operator Training
H1: TMC Operator Training
Categories: services:-5
Template: brochure
Summary: Realistic, simulation-backed training for Caltrans staff to prepare them for the rigors of working in a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about TMC Operator Training
Image:  custom-sim.jpg
Menu Label: TMC Training

%section.what
  %h3 What does it consist of?
  :markdown

    * Realistic TMC training environment based on a simulation version
      of Caltrans ATMSV2

    * Full simulation capabilities including an audio/video system
      that displays the remote sources (CCTV and real-time data
      streams) from the CTMLabs and associated field devices

    * Training Control Room from which Caltrans and CHP training
      personnel can activate various training scenarios

%section.how
  %h3 How can it be used?
  :markdown

    Prepare yourself or train your staff on the latest TMC management
    technology and processes.


%section.applications
  %h3 Applications
  :markdown

    * 10+ years of Caltrans TMC operator training
    * 5 years using simulation-backed training scenarios
