Title: Logical Network of California Highways 
H1: Logical Network of California Highways 
Categories: data:-3
Template: brochure
Summary: A geographically accurate highway network consisting of all the highways in California, based on OpenStreetMap data
Contact: mailto:support@ctmlabs.net&subject=Information about the CTMLabs California Network
Image:  /attachments/images/osm-ntwk-1.png
Menu Label: California Network
Menu: California Network
what: >
  * Excellent coverage of all Interstate highways\n
  * Good coverage of state routes, US routes\n
  * Based on publically available OpenStreetMap data: No license
    restrictions\n
  * Geographically accurate, including directional links and freeway
    to freeway ramps\n
  * Does not yet have lane count data\n
how: >
  The California highway network allows researchers to perform basic highway
  analysis, such as estimating vehicle miles traveled, estimating travel time
  and network service levels, and so on. In the past, Caltrans and others would
  have to purchase such information from commercial vendors. Recent incidents
  related to licensing restrictions have spurred us to develop an unencumbered
  highway network, based on freely available [OpenStreetMap] data.\n\n
  [OpenStreetMap]: http://www.openstreetmap.org

