Title: Logical Network of California Highways 
H1: Logical Network of California Highways 
Categories: data:-3
Template: brochure
Summary: A geographically accurate highway network consisting of all the highways in California, based on OpenStreetMap data
Contact: mailto:support@ctmlabs.net&subject=Information about the CTMLabs California Network
Image:  osm-ntwk-1.png
Menu Label: California Network

%section.what
  %h3 What does it consist of?

  :markdown

    * Excellent coverage of all Interstate highways

    * Good coverage of state routes, US routes

    * Based on publically available OpenStreetMap data: No license
      restrictions

    * Geographically accurate, including directional links and freeway
      to freeway ramps

    * Does not yet have lane count data

%section.how
  %h3 How can it be used?
  :markdown

    The California highway network allows researchers to perform basic
    highway analysis, such as estimating vehicle miles traveled,
    estimating travel time and network service levels, and so on. In
    the past, Caltrans and others would have to purchase such
    information from commercial vendors. Recent incidents related to
    licensing restrictions have spurred us to develop an unencumbered
    highway network, based on freely available [OpenStreetMap] data.

    [OpenStreetMap]: http://www.openstreetmap.org


%section.applications
  %h3 Applications
  :markdown

    * [TMC Performance Evaluation]
    * [California Vehicle Activity Database]

    [TMC Performance Evaluation]: http://tmcpe.ctmlabs.net
    [California Vehicle Activity Database]: http://lysithia.its.uci.edu/map7/index.html 
