Title: Interstate 405 Network
H1: Interstate Freeway 405 Network
Categories: data:-5
Template: brochure
Summary: A detailed network model of a 6-mile long section of I-405 in southern California
Contact: mailto:support@ctmlabs.net&subject=Information about the Irvine Golden Triangle Network
Image:  /attachments/images/I-405.png
Menu Label: I-405 Network

%section.what
  %h3 What does it consist of?

  :markdown

    * Includes detector locations as well as ramp metering plans.
    * Various surveillance systems from the [detector testbed] are included

    [detector testbed]: /facilities/detector-testbed

%section.how
  %h3 How can it be used?
  :markdown

    The network is suitable not only for traffic model
    calibration/validation but also for testing on-line simulation
    model with real-time traffic measurements.

%section.applications
  %h3 Applications
  :markdown









