Title: Data
Summary: Traffic management is increasingly about managing and processing data.  Here's the data we maintain as part of CTMLabs.
Template: page_list


.page-header
  %h1 
    Data
    %small collected, processed, and maintained
%p 
  :markdown 

    Traffic management is increasingly about managing and processing
    data.  Virtually every CTMLabs [project] produces data that is
    maintained by [flexible middleware] that can expose data to new
    projects enabling the development of "mash-ups" for traffic
    management.

    [flexible middleware]: /technology
    [project]: /projects