Title: Data
Summary: Traffic management is increasingly about managing and processing data.  Here's the data we maintain as part of CTMLabs.

%h1 
  Data
  %small collected, processed, and maintained
%p 
  :markdown 
    Traffic management is increasingly about managing and processing
    data.  Here's the data we maintain as part of CTMLabs.