Title: Irvine Golden Triangle Network
H1: Irvine Golden Triangle Network
Categories: data:-4
Template: brochure
Summary: A detailed Paramics network including the El Toro "Y" in the heart of Orange County, CA
Contact: mailto:support@ctmlabs.net&subject=Information about the Irvine Golden Triangle Network
Image:  /attachments/images/Irvine.png
Menu Label: Irvine Network

%section.what
  %h3 What does it consist of?

  :markdown

    A network model of the Irvine Triangle including:

    * detailed signal and ramp control schemes and
    * real time traffic data from freeway and arterial loop detectors.

%section.how
  %h3 How can it be used?
  :markdown

    The network is a perfect place for calibrating microscopic models
    and validation studies thanks to availabilty of the real-time
    traffic data and detailed network coding.


%section.applications
  %h3 Applications
  :markdown

    * Used for a field test in the FHWA's dynamic traffic assignment project.

