Title: Irvine Golden Triangle Network
H1: Irvine Golden Triangle Network
Categories: data:-4
Template: brochure
Summary: A detailed Paramics network including the El Toro "Y" in the heart of Orange County, CA
Contact: mailto:support@ctmlabs.net&subject=Information about the Irvine Golden Triangle Network
Image:  /attachments/images/Irvine.png
Menu Label: Irvine Network
Menu: Irvine Network
what: >
  A network model of the Irvine Triangle including:\n\n
  * detailed signal and ramp control schemes and\n
  * real time traffic data from freeway and arterial loop detectors.\n
how: >
  The network is a perfect place for calibrating microscopic models
  and validation studies thanks to availabilty of the real-time
  traffic data and detailed network coding.
applications: >
  * Used for a field test in the FHWA's dynamic traffic assignment project.

