Title: Historic and Real-time Loop Data
H1: Historic and Real-time Loop Data
Categories: data:-1
Template: brochure
Summary: Freeway data from Caltrans and arterial loop data from the cities of Irvine and Anaheim
Contact: mailto:support@ctmlabs.net&subject=Information about CTMLabs loop data
Image: /attachments/images/CAloopdata.jpg
Menu Label: Loop Data
Menu: Loop Data
what: >
  * Historical freeway data are accessible via the CTMLabs project interface\n
  * Real-time data is available to CTMLabs users via CTMLabs project services\n
how: >
  This raw and processed loop detector data is available in bulk for
  traffic studies involving all CTMLabs facilities. Use the loop
  detector to augment or ground truth your detector, OD estimation,
  simulation, or other research application.

