Title: Historic and Real-time Loop Data
H1: Historic and Real-time Loop Data
Categories: data:-1
Template: brochure
Summary: Freeway data from Caltrans and arterial loop data from the cities of Irvine and Anaheim
Contact: mailto:support@ctmlabs.net&subject=Information about CTMLabs loop data
Image: CAloopdata.jpg
Menu Label: Loop Data

%section.what
  %h3 What does it consist of?

  :markdown

    * Historical freeway data are accessible via the CTMLabs project interface

    * Real-time data is available to CTMLabs users via CTMLabs project services

%section.how
  %h3 How can it be used?
  :markdown

    This raw and processed loop detector data is available in bulk for
    traffic studies involving all CTMLabs facilities. Use the loop
    detector to augment or ground truth your detector, OD estimation,
    simulation, or other research application.

%section.applications
  %h3 Applications
  :markdown

    * [TMC Performance Evaluation]
    * [Safety and Accident Relative Risk Prediction]

    [TMC Performance Evaluation]: http://tmcpe.ctmlabs.net/
    [Safety and Accident Relative Risk Prediction]: http://safety.ctmlabs.net/safetynet/