Title: State Route 91 network
H1: State Route 91 network
Categories: data:-6
Template: brochure
Summary: A network model of one of the most congested routes in Southern California
Contact: mailto:support@ctmlabs.net&subject=Information about the State Route 91 dataset
Image:  /attachments/images/SR-91s.png
Menu Label: SR-91

%section.what
  %h3 What does it consist of?

  :markdown

    A network model with backing data for:
    
    * The SR-91 connecting Orange County and Riverside County

    * A 10-mile long congestion-priced HOT lane is running in the middle of the freeway

%section.how
  %h3 How can it be used?
  :markdown

    * Evaluate congestion pricing strategies
    * Model route choice behavior with a restricted choice set

%section.applications
  %h3 Applications
  :markdown

    * Used as a site for driver depature time and route choice behavior studies.
