Title: "TRACER: Real-time Vehicle Tracking"
H1: "TRACER: Real-time Vehicle Tracking"
Categories: data:-2
Template: brochure
Summary: Embedded real-time vehicle tracking
Contact: "mailto:support@ctmlabs.net&subject=Information about TRACER"
Image: /attachments/images/GPSmap.png
Menu Label: TRACER
Menu: TRACER
what: >
  * Customizable, portable, embedded system running Linux\n
  * Wireless cellular telemetry\n
  * 12-channel Garmin GPS 35 TracPak\n
  * Vibration sensor for auto on/off\n
  * OpenMap GIS Analysis and Display\n
how: >
  This venerable system can be used for vehicle tracking to perform
  probe vehicle and behavioral studies without active participation
  of the subjects.
applications: >
  * Used for data collection and monitoring of the [ZEVNet system]\n
  * Used for vehicle trajectory and map matching research\n
  [ZEVNet]:http://www.zevnet.org/\n

