Title: TRACER: Real-time Vehicle Tracking
H1: TRACER: Real-time Vehicle Tracking
Categories: data:-2
Template: brochure
Summary: Embedded real-time vehicle tracking
Contact: mailto:support@ctmlabs.net&subject=Information about TRACER
Image: /attachments/images/GPSmap.png
Menu Label: TRACER

%section.what
  %h3 What does it consist of?

  :markdown

    * Customizable, portable, embedded system running Linux
    * Wireless cellular telemetry
    * 12-channel Garmin GPS 35 TracPak
    * Vibration sensor for auto on/off
    * OpenMap GIS Analysis and Display

%section.how
  %h3 How can it be used?
  :markdown

    This venerable system can be used for vehicle tracking to perform
    probe vehicle and behavioral studies without active participation
    of the subjects.

%section.applications
  %h3 Applications
  :markdown

    * Used for data collection and monitoring of the [ZEVNet system]
    * Used for vehicle trajectory and map matching research

    [ZEVNet]:http://www.zevnet.org/
