Title: Accident Risk Analysis
Summary: Modeling risk of incidents as a function of multi-lane traffic dynamics
Categories: projects:-2
Template: brochure
Menu: ARA
Image: /attachments/images/ara-1-small.png
url: http://safety.ctmlabs.net/safetynet
h1: Accident Risk Analysis (ARA)
flags: deployed


%section.what 
  %h3 What does it consist of?

  :markdown

    * Model estimation
    * Model implementation with real data
    * Data storage system

%section.how
  %h3 How can it be used?
  :markdown

    The primary uses of the outcome of this project should be to
    identify dangerous conditions before accidents happen, and to
    analyze roadway segments after the fact to identify the riskier
    segments of road. In addition, the methods developed should be
    generalizable to modeling other phenomena that are dependent upon
    or a result of traffic flow conditions over time.