Title: California Air Resources Board Vehicle Activity Database (CALVAD)
H1: California Air Resources Board Vehicle Activity Database (CALVAD)
Categories: projects:-5,services/custom-application-development
Template: brochure
Summary: Integrating disparate data sources to develop a comprehensive view of VMT and speeds for different vehicle classes in the state of California
Contact: mailto:support@ctmlabs.net&subject=Information about CALVAD
Image:  /attachments/images/Screenshot-CARB.png
Menu Label: CALVAD
Menu: CALVAD
URL: http://lysithia.its.uci.edu/map7/index.html
Flags: deployed

%section.what
  %h3 What does it consist of?
  :markdown

    A data fusion application combining:

    * California Weigh-in-Motion (WIM) data

    * Vehicle Detection System (VDS) 30s raw data, via [PeMS](http://pems.dot.ca.gov)

    * Highway Performance Monitoring System (HPMS) Data

%section.how
  %h3 How can it be used?
  :markdown

    This project is supporting the California Air Resources Board in
    estimating VMT and speeds for different vehicle classes and on all
    roadway types in order to permit policy analysis using the best
    available data. Key challenges include imputing missing data for
    all datasets, and fusing disparate data sets to form a coherent
    picture of vehicular movement in the state. This project is
    currently in beta test, and the data should not yet be used for
    policy analysis.

%section.applications
  %h3 Applications
  :markdown

    * ...

