Title: Projects
Summary: CTMLabs has a long history of successful research and deployment projects...
Template: page_list
Group by: deployed

.page-header
  %h1 
    Projects
    %small completed work, live applications, dedicated middleware

.column-count-2
  :markdown

    Since its genesis as the California ATMS Testbed, CTMLabs has been
    focused on producing research products with great potential for
    deployment.  Today, we continue this emphasis by pursuing projects
    that focus on the transfer of research products into deployable
    applications.  These applications are available through this
    website.

    Below is a list of our current live applications as well as
    applications that are under development for release in the near
    future.  You can also click the Applications button at the top to
    get direct links to our live applications.

  