Title: Projects
Summary: CTMLabs has a long history of successful research and deployment projects...
Template: page_list
Group by: deployed

%h1 
  Projects
  %small completed work, live applications, dedicated middleware
%p
  Below you see a sampling of our past work.  Click through to read
  the details.  You can also click the Applications tab along the top
  to get direct links to our live applications
