Title: INductive SIgnature DEployment (INSIDE) Lab
H1: INductive SIgnature DEployment (INSIDE) Lab
Menu: INSIDE
Menu Label: INSIDE
Categories: projects:-4
Template: brochure
Summary: Using Inductive Signatures to Obtain Real-time Performance Measures
Contact: mailto:support@ctmlabs.net&subject=Information about the INSIDE Lab
Url: http://moon.its.uci.edu/inside
Image: inside1.jpg
Flags: deployed 

%section.what
  %h3 What does it consist of?

  :markdown

    * Field processing, signature examination

    * Single loop speed estimation

    * Laboratory connectivity

    * Vehicle classification and tracking through the network

    * On-line performance estimation from tracked vehicles

%section.how
  %h3 How can it be used?
  :markdown

    * Real-time Performance Measures

    * Historical Performance Measures

%section.applications
  %h3 Applications
  :markdown

