Title: Inductive Signature Performance Evaluation (ISPE)
H1: Inductive Signature Performance Evaluation (ISPE)
Menu: ISPE
Menu Label: ISPE
Categories: projects:-4, facilities/detector-testbed
Template: brochure
Summary: Using Inductive Signatures to Obtain Real-time Performance Measures
Contact: mailto:support@ctmlabs.net&subject=Information about the INSIDE Lab
Url: http://ipse.ctmlabs.net/inside
Image: /attachments/images/inside1.jpg
Flags: deployed 
what: >
  * Field processing, signature examination\n
  * Single loop speed estimation\n
  * Laboratory connectivity\n
  * Vehicle classification and tracking through the network\n
  * On-line performance estimation from tracked vehicles\n
how: >
  * Real-time Performance Measures\n
  * Historical Performance Measures\n

:markdown


  ### What is InSiDe?

  The Inductive Signature Deployment Lab is an on-time implementation of
  advanced traffic performance measures using inductive vehicle signature
  technology, which consists of installation of a wireless communications
  infrastructure, advanced field processing units and replacing conventional
  bivalent inductive loop detector cards with advanced inductive signature
  detector cards in the northbound direction along a 7-mile corridor I-405
  freeway in Orange County, California. In addition to mainline detector
  stations, several on and off ramp detector locations are also included in the
  deployment. InSiDe consists of three components:

  A real-time traffic performance measurement system, an archive of historical
  performance measures, and an inductive signature data repository Several
  performance measures show-cased here are based on section-based traffic
  measures obtained through matching of inductive signatures from vehicles
  traversing adjacent detector stations. Because section-based traffic measures
  capture vehicular travel spanning each section, they provide a more reliable
  representation of traffic conditions compared with conventional point-based
  detector performance data. In addition, inductive signature features can also
  be extracted from each vehicle to provide further information on vehicle type.

  ### Achieving Sustainability through Advanced Traffic Performance Measures

  The information on vehicle class-based travel statistics deployed in INSIDE
  via inductive signature technology is a unique characteristic that is ideally
  suited to provide advanced traffic measures that provide insight towards
  achieving sustainability in several aspects of road transportation.

  The vehicle proportions and counts by types performance measure determines the
  exposure rates and impacts on the road infrastructure by heavy trucks without
  the use of labor intensive surveys.

  The section emissions performance measure determines the amount of emissions
  emitted at each section, and can be used to determine locations along freeway
  corridors in greatest need of improvement to mitigate emissions impacts.

  These advanced performance measures can provide the basis for optimal
  operation of the freeway network and an in-depth understanding of traffic
  impacts in congestion-prone metropolitan areas, the knowledge of which is
  essential to determine the best mitigating solutions.

  ### What Performance Measures can be displayed?

  Both real-time and historical section-based performance measures can be
  displayed at the corridor, section and station level in InSiDe.

  The modules of the Real-time Performance Measures currently include:

  #### Corridor Level

  * Section Speeds and Densities
  * Lane-Lane Section Travel-Time Matrix
  * Lane-Lane Section Speed Matrix
  * O-D Travel Time Matrix
  * Section Emissions

  #### Section Level
  
  * Under Construction

  #### Station Level

  * Vehicle Class by Lane

  ### The modules of the *Historical Performance Measures* currently include:

  #### Corridor Level

  * Corridor Travel Time
  * Corridor Speed
  * Corridor Average Delay
  * Corridor Total Delay (Vehicle-Hours)
  * ML Section-based Density Contour Map (vpmpl)

  #### Section Level

  * Under Construction

  #### Station Level

  * Mainline Station Volumes by Vehicle Class
  * HOV Station Volumes by Vehicle Class
  * Light, Medium/Heavy Duty and Multi-Unit Truck Arrivals
  * Volume and Occupancy by Lane
  * Vehicle Class Proportion by Lane
