Title: Ramp Metering Evaluation Platform
H1: Ramp Metering Evaluation Platform
Menu Label: SATMS
Categories: projects:-3,services/custom-application-development
Template: brochure
Summary: Evaluating ramp metering effectiveness 
Contact: mailto:support@ctmlabs.net&subject=Information about Ramp Metering Performance
Url: http://128.200.36.104:8080/SATMSWeb
Image: rampmetering1.jpg
flags: deployed

%section.what
  %h3 What does it consist of?

%section.how
  %h3 How can it be used?

%section.applications
  %h3 Applications
