Title: TMC Performance Evaluation
H1: TMC Performance Evaluation
Menu Label: TMCPE
Categories: projects:-1
Template: brochure
Summary: A simulation environment with the full functionality of a Caltrans TMC
Contact: mailto:support@ctmlabs.net&subject=Information about TMC Performance Evaluation
Url: http://tmcpe.ctmlabs.net/
Image: tmcpe-1.png

%section.what
  %h3 What does it consist of?
  :markdown

    * Loop detector analysis
    * TMC log analysis
    * CHP CAD analysis
    * Data fusion
    * Model estimation


%section.how

  %h3 How can it be used?

  :markdown

    This project analyzes the raw data from an incident, compares what actually
    happened to the historic norms, and then develops an estimate of how bad the
    traffic resulting from the incident *would have been* but for the
    intervention of the TMC.


%section.applications
  %h3 Applications
  :markdown

    * Caltrans District 12 TMC
