%nav.ctmlabs
  %ul
    %li 
      %a(href="/")Portal
    %li 
      %a(href="projects")Project Websites
      %ul
        %li
          %a(href="https://tmcpe.ctmlabs.net/")TMC Performance Evaulation
        %li 
          %a(href="https://safety.ctmlabs.net/")Safety
    %li
      %a(href="https://tracker.ctmlabs.net/")Issue Tracker

