#ctmlabsbanner(style='min-height:35px')
  %nav.ctmlabs#menu(style='min-height:35px')
    %ul
      %li 
        %a.home(href="/" title="CTMLabs home") &nbsp;
      %li 
        %a(href="/projects") Project Websites
        %ul
          %li
            %a(href="https://tmcpe.ctmlabs.net/tmcpe-1.1")TMC Performance Evaulation
          %li
            %a(href="http://128.200.36.104:8080/SATMSWeb")Ramp Meter Evaluation Platform
          %li
            %a(href="http://moon.its.uci.edu/inside")INSIDE Laboratory
          %li 
            %a(href="https://safety.ctmlabs.net/")Safety
      %li
        %a(href="https://tracker.ctmlabs.net/" title="CTMLabs project management")Issue Tracker
    %nav.account#account
      %ul
        %li(id="loginLink")
        %li(id="logoutLink")
        %li
          %a(href="http://tracker.ctmlabs.net/projects/tb/issues/new" title="Report a problem with this website") Report Problem
        %li
          %a(href="/about" title="About CTMLabs") About

