%nav.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      /.btn-navbar is used as the toggle for collapsed navbar content
      %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.ir.brand(id="ctmllink" title="CTMLabs home" href="#{url('/')}")
      .brand 
        CTMLabs
      %div.nav-collapse      
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              Applications
              %b.caret
            %ul.dropdown-menu
              %li
                %a(href="https://tmcpe.ctmlabs.net/tmcpe-1.3")TMC Performance Evaulation
              %li
                %a(href="http://128.200.36.104:8080/SATMSWeb")Ramp Meter Evaluation Platform
              %li
                %a(href="http://moon.its.uci.edu/inside")INSIDE Laboratory
              %li 
                %a(href="http://safety.ctmlabs.net/safetynet")Safety
        %ul.nav.pull-right
          %li
            %a(href="http://tracker.ctmlabs.net/projects/tb/issues/new" title="Report a problem with this website") Report Problem
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown" class="dropdown-toggle")
              Help
              %b.caret
            %ul.dropdown-menu
              %li
                %a(title="Site help" href="#{url('/help')}")Site Docs
              %li
                %a(href="#{url('/about/people')}")Contact
