%footer.branding
  %p.copyright
    Copyright &copy; 
    :javascript
      var dToday=new Date(); document.write("2010-"+dToday.getFullYear());
    California Traffic Management Labs
    %br
    A partnership between Caltrans and UC Irvine
  %nav
    :markdown
      Navigation:
    - display_menu(@menu_items, :class => "menu", :levels => 1)
