%header.row(role="banner")
  %div.span4
    %nav
      - display_breadcrumbs( :class => "breadcrumb" )
  %div.span8
    %nav.subnav
      - display_bootstrap_menu(@menu_items, :class => "nav nav-pills pull-right", :levels => 1)
  /%hr.soften