%header(role="banner")
  %hgroup
    %img(src="/ctmlabs/images/logo_jem_100.png" alt="#{@heading}")
    %h5= @subtitle
  %nav.main
    - display_menu(@menu_items, :class => "menu", :levels => 1)
  
  