/%header(role="banner")
/  %hgroup
/    %img(src="/ctmlabs/images/logo_jem_060.png" alt="#{@heading}")
/    %h3= @subtitle
/  %nav.main
/    - display_menu(@menu_items, :class => "menu", :levels => 1)
/%nav.breadcrumb
/  - display_breadcrumbs
  
  