@import "mixins";

@import "compass/css3/box-shadow";
@import "fancy-buttons";


/* Page layouts */
$total-cols: 12;
$col-width: 5em;
$gutter-width: 1em;
$side-gutter-width: 1em;

@import "susy";
@import "suckerfish";
$topLevelWidth: 6em;
$lowerLevelWidth: 10em;
$ctmlabsheight: 2em;

#ctmlabsheader {
    @include clearfix;

    background-color: $ctmlabs-menu-background;
    color: $ctmlabs-menu-foreground;
    @include adjust-font-size-to( $base-font * 0.9 );
    @include single-box-shadow(#aaa, 0, 0, 10px);

    nav.ctmlabs {
	@include suckerfish($topLevelWidth,$lowerLevelWidth);
        ul li {
            // menu separators
            border-left: 1px solid #666;
            &:first-child {
                border-left: 0px;
            }
            a {
                padding-top: 0.5em;
                padding-left: 0.5em;
                padding-right: 0.5em;
                height: $ctmlabsheight;
                vertical-align: middle;
                background-color: $ctmlabs-menu-background;
                color: $ctmlabs-menu-foreground;
                text-decoration: none;
                
                &:hover {
                    background-color: lighten( $ctmlabs-menu-background, 30% );
                }
            }
        }
    }
}

#container {
    @include container;
//    @include susy-grid-background;

    margin-top:0.5*$ctmlabsheight; // after @include container

    header[role="banner"] {
        @include clearfix;
        hgroup {
            @include columns(6);
            @include alpha;
        }

        nav.main {
            @include columns(6);
            text-align: right;
            ul.menu {
                @include horizontal-menu;
                a {
                    text-decoration: none;
                    color:#fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /* for home only */
    .home {
        @include full();
        @include clearfix;
        .banner {
            @include clearfix;
            left: 0;
            background: transparent url('/ctmlabs/images/fairview_sh.jpg');
            min-height: 20em;
            color: #FC3;

            .titleblock {
                @include columns(6,12);

                /*
                  h1,h2 { line-height: 1.2em; }
                  h2 { margin-top: 1em; }
                */
            }
        }

        // make the sections flow horizontally across 4 columns
        @include flowing-blocks( section, 4, 12 );
    }

    nav.breadcrumb {
	@include full;
        ul {
            @include delimited-list( " > ", " > " );
        }
    }

    #content {
	@include columns(9);
	@include alpha;
    }

    #brochure {
        @include full;
        @include alpha;
        @include clearfix;
        
        .banner {
            position: relative; /* for placing links */
            @include container;

            hgroup {
                @include columns(6,12);
            }
            .links {
                position: absolute;
                bottom:1em;
                left:1em;
                a {
                    @include fancy-button( lighten( $background, 15% ) );
                }
            }
            img {
                @include columns(6,12);
                @include omega(12);
            }
        }
        
        @include flowing-blocks( section, 4, 12 );

        section {
            background-color: lighten( $background, 15% );
            p, h1, h2, h3 {
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
            h1, h2, h3 {
                background-color: lighten( $background, 30% );
            }
            ul {
                margin-left: 1.5em;
                list-style: disc outside none;
            }
        }
    }

    #sidebar {
	@include columns(3);
	@include omega;
    }

    footer.branding {
	@include full;
        margin-top: 2em;

        .copyright {
            @include columns(6,12);
        }
        nav {
            @include columns(6,12);
            @include omega(12);
            text-align:right;
            ul {
                float: right;
                text-align: left;
            }
        }
    }

}