@import "mixins";

@import "compass/css3/box-shadow";
@import "fancy-buttons";

/* Page layouts */
$total-cols: 12;
$col-width: 5em;
$gutter-width: 1em;
$side-gutter-width: 1em;

@import "susy";

$shadowcolor: transparentize( #000, 0.5 );

@import "ctmlabs-banner";

@import "mixins"; /* after ctmlabs-banner which imports compass */

#ctmlabsbanner {
    #menu ul {
        padding: 0;
        li {
            a {
                margin-right: 0px;
            }
        }
    }
}

#container {
    @include container;
//    @include susy-grid-background;
    border-collapse: collapse;
    box-sizing:border-box; 

    padding-left: 0.5em;
    padding-right: 0.5em;


    margin-top:0.5*$ctmlabsheight; // after @include container

    header[role="banner"] {
        @include clearfix;

        /* We either have this...*/
        hgroup {
            @include columns(6);
            @include alpha;
            h3 { display: inline-block; }

            h5 { 
                letter-spacing: 1px;
                color: $deemphasized-foreground;
            }
        }

        /* Or this...*/
        nav.breadcrumb {
            @include columns(6);
            @include alpha;
            ul {
                @include delimited-list( " > ", " > " );
            }
        }

        nav.main {
            @include columns(6);
            text-align: right;
            ul.menu {
                @include horizontal-menu;
                a {
                    text-decoration: none;
                    color:#fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /* for home only */
    .home {
        @include full();
        @include clearfix;
        .banner {
            @include clearfix;

            padding-left: 0.5em;
            padding-right: 0.5em;

            left: 0;
            background: transparent url('/ctmlabs/images/fairview_sh.jpg');
            min-height: 20em;

            .titleblock {
                @include columns(6,12);

                @include heading-block;  /* standardize spacing */
            }
        }

        @include adjust-font-size-to( $base-font * 1.2 );

        // make the sections flow horizontally across 4 columns
        @include flowing-blocks( section, 4, 12 );
    }

    #content {
	@include columns(9);
	@include alpha;
    }

    #brochure {
        @include full;
        @include alpha;
        @include clearfix;
        
        .banner {
            position: relative; /* for placing links */
            @include container;

            padding-left: 0.5em;
            padding-right: 0.5em;

            /* Do a background gradient */
            @include background(/*image-url("foo.png"),*/
                                linear-gradient(top, lighten( $background, 30%), $background));
            border-bottom: $content-border-subtle;

            /* Leave space for the contact buttons */
            padding-bottom:  2 * $vertical-rhythm; /* bottem margin + button height */

            hgroup {
                @include columns(6,12);
                @include heading-block;  /* standardize spacing */
            }
            .links {
                position: absolute;
                bottom:1em;
                left:1em;
                a {
                    @include ctmlabs-button;
                }
            }
            .image {
                @include columns(6,12);
                @include omega(12);
                img {
                    @include single-box-shadow($shadowcolor, 5px, 5px, 5px);
                    margin: $vertical-rhythm 10px;
                    height: 12 * $vertical-rhythm;  /* bound the image height */
                    width: auto;                    /* keep the aspect ratio */
                    max-width: 100%;
                }
            }
        }

        .keypoints {
            @include container;
        }
        
        /* must quote the selectors if they've got special chars */
        @include flowing-blocks( '.keypoints section', 4, 12 );
        @include flowing-blocks( '.related section', 6, 12 );

        /* some additional styling on the info sections */
        .keypoints section, .related section {
            @include callout-box;

            /* Try to get consistency in the block height by setting a min */
            min-height: 8 * $vertical-rhythm; 
        }
    }

    article[role="main"] {
        &> h1 {
            /*@include background(image-url("/ctmlabs/images/logo_jem_060.png"));*/
            /*padding-left: 140 / 60 * $vertical-rhythm;*/
            background-size: 2 * $vertical-rhythm auto;
            background-repeat: no-repeat;
        }
        section {
            @include clearfix;
        }
    }

    section.pages {
        article {
            margin-top: $vertical-rhythm;
            border-top: $content-border-subtle;
        }
    }

    #sidebar {
	@include columns(3);
	@include omega;

        nav {
            ul.menu {
            }
        }
    }

}

#ctmlabsfooter {

    @include container;

    width: 100%;
    
    background-color: $footer-background;
    color: $footer-foreground;
    margin-top: 2em;

    border-top: $content-border-subtle;

    footer.branding {
        @include full;

        .copyright {
            @include columns(6,12);
        }
        nav {
            @include columns(6,12);
            @include omega(12);
            text-align:right;
            ul {
                float: right;
                text-align: left;
            }
        }
    }
}