<!DOCTYPE html>
%html(lang="en")
  %head
  = haml :layout_frontmatter, :layout => false
  %body
    /#ctmlabsheader(style='min-height:30px;')
    /= haml :ctmlabsmenu, :layout => false
    #container
      .container-fluid.menu-container.curl
        .container
          = haml :header, :layout => false

      .container
        = yield
  
    #ctmlabsfooter
      = haml :footer, :layout => false
