/* Master stylesheet for cmtlabs */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@import "variables.scss";

$common-background: lighten($bodyBackground,15%);
$section-background: lighten($bodyBackground,15%); //#5D7E8F;//#7EA8BD;
$section-foreground: darken($grayDark,15%);

body {

    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    background-repeat: no-repeat;

    @media screen and (min-width: 980px) {
        padding-top: 40px;
    }

    @media screen and (max-width: 979px) {
        /* fix the top menu */
        padding-top: 0px;
    }
    /* override some bootstrap ugliness */
    @media (max-width: 979px) {
        .navbar-fixed-top {
            margin-bottom: 0px;
        }
    }

    header[role=banner] {
        h3 {
            font-weight: 300;
        }
    }


    .home {
        .highlights {
            p {
                //font-weight: 600;
            }
        }
    }
    
}

.footer {
    /*margin-top: 45px;*/
    /*padding: 15px 0 16px;*/
    /*border-top: 1px solid #E5E5E5;*/
}

.align-right {
    text-align: right;
}

a.navarrow:hover {
    text-decoration: none;
}

nav ul.breadcrumb {
    li {
        &:after { content: "/" }
        &:last-child { &:after { content: "" } }
    }
}

.banner .thumbnail, .pages .thumbnail, .articles .thumbnail {
    //min-height: 300px;
    background-repeat: no-repeat;
    background: $section-background;

    img {
        height:200px;
        width:100%;
    }
}

#brochure {
    article .row .curl > section {
        background-color: $section-background;
        margin-top:1em;
        padding-bottom:1em;
        //padding-left: 1em;
        //padding-right: 1em;
        //padding-right: 1em;
        //border: 1px solid rgba(255,255,255,0.3);
        h2 {
            //border-top:10px solid #2C2C2C;
            border-top:10px solid $grayLighter;
        }
        h3 {
            background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
            background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
            background-image: linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
            background-repeat: no-repeat;
        }
    }
}

.navbar-fixed-top {
    .brand {
        float: left;
        display: block;
        padding: 8px 20px 12px;
        margin-left: -20px;
        font-size: 20px;
        font-weight: 200;
        line-height: 1;
        color: white;
    }
/*
    a.brand {
        background-image: url("../ctmlabs/images/logo_jem_060.png");
        background-position: 5px 0px;
        background-size: 80px auto;
        padding-left: 93.33333333333334px;
        background-repeat: no-repeat;
    }
*/
}

#container {
    header {
        //border-bottom: 1px solid #E5E5E5;
    }
}

section {
    //margin-top: 1em;
    &:first-child {
        margin-top: 0em;
    }
}
.row {
    margin-top: 1em;
}

.thumbnail {
    background-size: 100%;
    footer {
        //border-top: 1px solid #E5E5E5;
    }
}

hr.soften {
    height: 1px;
    //margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    border: 0;
}

hr.soften-right {
    height: 1px;
    //margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,.3), rgba(255,255,255,0));
    border: 0;
}

.wide {
    margin: 54px 0;
}

.near {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tight {
    margin-top: 0;
    margin-bottom: 1em;
}


#ctmllink {
    background: url("../ctmlabs/images/ctml.png") no-repeat 50% 50%;
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0pt/0 a;
    text-shadow: none;
    width: 40px;
    height: 20px;
}

a {
    &:hover { text-decoration: none; }
}

.breadcrumb {
    background-color: transparent;
    background-image: none;
    border: none;

    box-shadow: none;
    
    li {
        text-shadow: none;
    }
}



.home .hero-unit {
    &#ctml-splash {
        background: url("../ctmlabs/images/fairview_sh.jpg") no-repeat;
        background-position: right top;
    }

    hgroup {
        text-shadow: 2px 2px rgba(0,0,0,0.25);

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Droid Serif', serif;
            font-weight: 300;
            color: #eecc55;
            line-height: 1.2em;  // droid serif overlaps a bit 
        }

    }

}

body {
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
}

/* make brochure images fit in their container */
#brochure {
    .banner .image {
        min-height: 200px;
        img {
            width:100%;
        }
    }
}

.pages {
    .thumbnails {
        .thumbnail {
            header {
                padding: 1em 1em 1em 1em;
            }
            section {
                padding-left: 1em;
                padding-right: 1em;
            }
        }
        > li {
            /* Add some more vertical spacing between tiles */
            margin-bottom:30px;

            /* handle narrow screen by expanding thumbnail to 100% */
            @media (max-width: 767px) {
                width: 100%;
            }
        }

    }
}

/* fix header menu background */
.nav > li > a {
    &:hover {
        text-decoration: none;
        background-color: #A2C5DA;
    }
}

.curl {
    /*background: #fff;*/  /* set default white background */
}

h1, h2, h3, h4, h5, h6 {
    small {
        line-height: 1em; 
        color: $grayLighter;
    }
}

.carousel-control {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.multi-column-30 {
    -moz-column-width: 30em;
    -webkit-column-width: 30em;
}

.multi-column-25 {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
}

.multi-column-20 {
    -moz-column-width: 20em;
    -moz-column-gap: 1em;
    -moz-column-rule: 1px solid rgba(255,255,255,0.3);
    -webkit-column-width: 20em;
    -webkit-column-gap: 1em;
    -webkit-column-rule: 1px solid rgba(255,255,255,0.3);
    h1,h2,h3,h4,h5,h6 {
        -moz-break-after: avoid;
    }
}
.multi-column-15 {
    -moz-column-width: 15em;
    -moz-column-gap: 1em;
    -moz-column-rule: 1px solid rgba(255,255,255,0.3);
    -webkit-column-width: 15em;
    -webkit-column-gap: 1em;
    -webkit-column-rule: 1px solid rgba(255,255,255,0.3);
}
.column-count-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    h1,h2,h3,h4,h5,h6 {
        -moz-column-break-before: left;
        -webkit-column-break-before: left;
    }
}
.column-count-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    h1,h2,h3,h4,h5,h6 {
        -moz-column-break-after: avoid;
        -webkit-column-break-after: avoid;
    }
}


.invert {
    background: #fff;
}

#technology {
    img { height: 50px; }

    .nestacms {
        /* From the nestacms.com website */
        color: #313126;
        display: block;
        font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, serif;
        font-size: 21px;
        font-style: italic;
        font-weight: 700;
        letter-spacing: -1px;
        text-shadow: 0 2px 5px #DCDBD1;
        height: 50px;
        text-align:center;
        margin-top:14px; /* (50-21)/2 */
    }
    .d3js {
        text-align:center;
        font: 14px Helvetica Neue;
        font-size:36px;
        font-weight:300;
        color:#000;
    }
    .twitterbootstrap {
        font-face:'Helvetica Neue';
        color:#333;
    }
}

body > .navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.meta, .meta .label {
    font-size: 8px;
}

.menu-container {
     background:lighten($bodyBackground, 15%);
}