/* Master stylesheet for cmtlabs */

/*@import "compass/reset";

@import "colors";
@import "typography";
@import "layout";
*/

body {
    @media screen and (min-width: 980px) {
        /* fix the top menu */
        padding-top: 60px;
    }
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.align-right {
    text-align: right;
}

a.navarrow:hover {
    text-decoration: none;
}

nav ul.breadcrumb {
    li {
        &:after { content: "/" }
        &:last-child { &:after { content: "" } }
    }
}

/*
.subnav{
    width: 100%;
    height: 36px;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}*/

#brochure .banner .thumbnail, .pages .thumbnail {
    min-height: 200px
}

.navbar-fixed-top {
/*
    a.brand {
        background-image: url("/ctmlabs/images/logo_jem_060.png");
        background-position: 5px 0px;
        background-size: 80px auto;
        padding-left: 93.33333333333334px;
        background-repeat: no-repeat;
    }
*/
}

#container {
    header {
        //border-bottom: 1px solid #E5E5E5;
    }
}

section {
    margin-top: 1em;
    &:first-child {
        margin-top: 0em;
    }
}
.row {
    margin-top: 1em;
}

.thumbnail {
    background-size: 100%;
    footer {
        //border-top: 1px solid #E5E5E5;
    }
}

hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    border: 0;
}


// nivo slider
.nivoSlider {
    position:relative;
    width:618px; /* Change this to your images width */
    height:246px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

#ctmllink {
    background: url("/ctmlabs/images/ctml.png") no-repeat 50% 50%;
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0pt/0 a;
    text-shadow: none;
    width: 40px;
    height: 20px;
}

a {
    &:hover { text-decoration: none; }
}

.breadcrumb {
    background-color: transparent;
    background-image: none;
    border: none;

    box-shadow: none;
    
    li {
        text-shadow: none;
    }
}

.home .hero-unit {
    background: url("/ctmlabs/images/fairview_sh.jpg") no-repeat;
    background-position: right top;

    hgroup {
        text-shadow: 2px 2px rgba(0,0,0,0.25);
    }
}

body {
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
}

/* make brochure images fit in their container */
#brochure {
    .banner .image {
        min-height: 200px;
        img {
            width:100%;
        }
    }
}

.pages {
    .thumbnails {
        .thumbnail {
            .header {
                padding: 1em 1em 1em 1em;
            }
        }
        > li {
            /* Add some more vertical spacing between tiles */
            margin-bottom:30px;

            /* handle narrow screen by expanding thumbnail to 100% */
            @media (max-width: 767px) {
                width: 100%;
            }
        }

    }
}

/* fix header menu background */
.nav li a {
    &:hover {
    }
}

