/* A mixin for creating susy-styled flowing block list elements */
@mixin flowing-blocks( $type, $cols, $ctx ) {

    #{$type} {
        @include columns( $cols, $ctx );
    }

    // make sure the last element of a row is an omega
    $freq: $ctx / $cols;
    #{$type}:nth-of-type( #{$freq}n+#{$freq} ) {
        @include omega( $ctx );
    }
}

@import "compass/typography/lists/horizontal-list";

@mixin horizontal-menu( $lineheight: 1, $horizontal-padding: 0.5em, $vertical-padding: 0em, $sep-border: 1px solid #ccc, $horizontal-margin: 0px ) {
    @include horizontal-list-container;

    padding-left: $horizontal-padding / 2;
    padding-right: $horizontal-padding / 2;


    // This makes the menu a contained block
    display:inline-block;
    *display: inline; /* ie 7 */
    min-height: 0;    /* ie 7 */

    > li {
        @include horizontal-list-item;
        text-align:center;
        margin: 0px;
        padding: 0px;
        padding-left:$horizontal-padding / 2;
        margin-left: $horizontal-margin;

        a { 
            margin: 0px;

            padding-left: $horizontal-padding;
            padding-right: $horizontal-padding;
            border-right: $sep-border;
            padding-top: 2*$vertical-padding;
            padding-bottom: 2*$vertical-padding;
            line-height: $lineheight;
        }

        &.current a {
            /* make the current menu item inactive */
            pointer-events: none;
            cursor: default;
        }
        
        &:first-child {
            margin-left: 0px;
        }

        &:last-child a {
            border-right: 0px;
        }
    }
}

@import "compass/typography/lists/inline-list";

@mixin delimited-list( $delimiter: ", ", $last-delimiter: " and " ) {
  @include inline-list;
  > li {
    &:before {
        content: $delimiter; }
    &:after {
        content: ""; }
    &:last-child {
        &:before {
            content: $last-delimiter; } }
    &:first-child {
        &:before {
            content: ""; } } }
}

/* Defines standardized spacing inside a "banner" heading block */
@mixin heading-block {
    /* Override to make sure we don't over expand */
    h1 {
        margin-top: 1 * $vertical-rhythm;
        max-width: 15em;
        border-bottom: $content-border-subtle;
    }
    h2, h3, h4 {
        margin-top: 2 * $vertical-rhythm;
    }
}

@mixin callout-box( $background: $callout-background, $foreground: $callout-foreground ) {
    /* Creating some spacing above the blocks */
    margin-top: $vertical-rhythm;

    background-color: $background;
    color: $foreground;

    @include border-radius( 10px );
    border: $content-border-subtle;
    border-collapse: collapse;
    box-sizing:border-box; 


    p, h1, h2, h3 {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    h1, h2, h3 {
        background-color: $callout-heading-background;
        color: $callout-heading-foreground;
    }
    ul {
        margin-left: 2em;
        list-style: disc outside none;
        li {
        }
    }
}

/* meant to be used in a or button tags */
@mixin ctmlabs-button {
    @include fancy-button( $button-color );
    &:hover {
        color: $accent-foreground;
    }
}