#content.container.not_found
  %div.row
    %section.span8.alert.alert-error.curl(role="main")
      %h1 Page not found
      %p
        :markdown
          Please try another page or, if you think something is wrong with
          our site, you can:

          * [report a problem] using our issue tracker, or
          * [email support]
          * shrug and go [back to the start]

          [report a problem]: http://tracker.ctmlabs.net/projects/tb-portal-new/issues/new
          [email support]: mailto:support@ctmlabs.net
          [back to the start]: #{url("/")}