Title: Home

%div.banner
  %div.titleblock
    %h1 Merging traffic management research into the physical world
    %h2 A partnership between UC Irvine and Caltrans

%section 

  :markdown

    # RESEARCH

    At our core we are a research facility with a demonstrated history of
    cutting-edge developments in traffic management and operations. Our team of
    researchers and technical staff are always looking for new problems to
    solve.

%section

  :markdown

    # IMPLEMENT...

    Our facilities offer a combination of a instrumented real-world traffic
    system connected to virtual systems supported by institutional partnerships
    allowing us to test and evaluate deployments on both technological and
    procedural grounds.

%section

  :markdown

    # EVALUATE...

    A one-stop shop for simulation, data analysis, testing, and evaluation
    providing a trajectory for moving ideas from the research journals into
    everyday practice.

/%section.articles= article_summaries(latest_articles)
