Title: Home
Template: home
Layout: layouthome

%header.blank
  .hero-unit.curl#ctml-splash
    %hgroup
      %h1 Merging traffic management research into the physical world
      %h3 A partnership between UC Irvine and Caltrans

.row.highlights

  .span4
    %section
      %header
        %h2 RESEARCH
      :markdown

        At our core we are a research facility with a demonstrated
        [history] of cutting-edge [developments] in traffic management
        and operations. Our team of researchers and technical staff
        are always looking for new problems to [solve].

        [history]: /about
        [developments]: /projects
        [solve]: services/custom-application-development

  .span4      
    %section
      %header
        %h2 IMPLEMENT
      :markdown

        Our facilities offer a combination of a instrumented real-world
        traffic system connected to virtual systems supported by institutional
        [partnerships] allowing us to test and evaluate deployments on both
        technological and procedural grounds.

        [facility]: /facilities
        [partnerships]: /about/partners

  .span4
    %section
      %header
        %h2 EVALUATE
      :markdown

        A one-stop shop for [simulation], data analysis, testing, and evaluation
        providing a trajectory for moving ideas from the research journals into
        everyday practice.

        [simulation]: /services/custom-simulation

%hr.soften

.row
  .span6
    %section
      %header
        %h2 What's new
        %hr.soften-right.tight
      %section.articles= article_summaries(latest_articles)
  .span6
    %section
      %header
        %h2 Quick Links
        %hr.soften-right.tight
      :markdown
        * Link1
        * Link2
        * Link3
